#game{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    user-select: none;
}

.game-window{
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid;
    border-bottom-color: #876218;
    border-right-color: #876218;
    border-top-color: #f4c035;
    border-left-color: #f4c035;
    background: #b98621;
    box-shadow: rgba(255, 255, 255, 0.533) 0 0 4px;
}

.board-header button{
    place-self: center;
    border: 4px solid;
    aspect-ratio: 1 / 1;
    height: 95%;
    border-bottom-color: #876218;
    border-right-color: #876218;
    border-top-color: #f4c035;
    border-left-color: #f4c035;
    background-color: transparent;
    background-image: url(img/csoki2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
}

.board-header button:active{
    border-top: 4px solid;
    border-right: 3px solid;
    border-bottom: 3px solid;
    border-left: 4px solid;
    border-bottom-color: #876218;
    border-right-color: #876218;
    border-top-color: #876218;
    border-left-color: #876218;
}

@media screen and (width <= 37.5rem){
    .board-header {
        background: #b98621;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        min-height: 5vh;
        max-height: 10vh;
        border-bottom: 3px solid #e0a229
    }

    .board-header button{
        place-self: center;
        aspect-ratio: 1 / 1;
        height: 75%;
        background-color: transparent;
        background-image: url(img/csoki2.png);
        background-size: 85%;
        background-repeat: no-repeat;
        background-position: center;
        background-clip: border-box;
    }

    .flag-number-panel,
    .time-number-panel{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 100%;
    }

    .flag-number-panel #counter{
        margin-left: 10%
    }

    .flag-number-panel::before,
    .time-number-panel::before{
        content: "";
        position: absolute;
        top: 50%;
        left: calc(50% - 8vw);
        transform: translateY(-50%);
        height: 7vw;
        aspect-ratio: 1 / 1;
        background-size: cover;
        background-repeat: no-repeat;
        
    }

    .flag-number-panel::before{
        background-image: url(img/flag.png);
        margin-right: 5%;
    }

    .time-number-panel::before{
        background-image: url(img/clock.png);
    }

    #counter{
        color: white;
        text-align: center;
        line-height: 1;
        margin: 0;
        font-size: 7vw
    }

    .cell {
        width: 24px;
        height: 24px;
        gap: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white
    }

    .bomb {
        width: 20px;
    }
}

.board{
    display: grid;
    margin: 4px;
    border: 4px solid;
    border-bottom-color: #f4c035;
    border-left-color: #876218;
    border-top-color: #876218;
    border-right-color: #f4c035;
}

.board-header-container{
    display: flex;
    margin: 5px;
}

.game-window{
    background: #b98621;
    padding: 5px;
}

.board-header{
    flex-grow: 1;
    width: 0;
    border: 4px solid;
    border-bottom-color: #f4c035;
    border-right-color: #f4c035;
    border-top-color: #876218;
    border-left-color: #876218;
}

.row{
    display: flex;
}

.cell{
    box-sizing: border-box;
    border: solid 2px;
    border-left-color:#f4c035;
    border-top-color: #f4c035;
    border-right-color: #876218;
    border-bottom-color: #876218;
    text-align: center;
    font-weight: bold
}