#game{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    user-select: none;
}

.game-window{
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid;
    border-bottom-color: #876218;
    border-right-color: #876218;
    border-top-color: #f4c035;
    border-left-color: #f4c035;
    background: #b98621;
    box-shadow: rgba(255, 255, 255, 0.533) 0 0 4px;
    position: relative;
}

.board-header button{
    place-self: center;
    border: 4px solid;
    aspect-ratio: 1 / 1;
    height: 95%;
    border-bottom-color: #876218;
    border-right-color: #876218;
    border-top-color: #f4c035;
    border-left-color: #f4c035;
    background-color: transparent;
    background-image: url(img/csoki2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
}

.board-header button:active{
    border-top: 4px solid;
    border-right: 3px solid;
    border-bottom: 3px solid;
    border-left: 4px solid;
    border-bottom-color: #876218;
    border-right-color: #876218;
    border-top-color: #876218;
    border-left-color: #876218;
}

.board-header {
    background: #b98621;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 5vh;
    max-height: 10vh;
    border-bottom: 3px solid #e0a229
}

.board-header button{
    place-self: center;
    aspect-ratio: 1 / 1;
    height: 75%;
    background-color: transparent;
    background-image: url(img/csoki2.png);
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
}

.counter{
    color: white;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    text-shadow: #533c0e 1px 1px 1px;
    margin: 0 auto
}

.cell {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white
}

.bombflag {
    width: 20px;
}

.flagImg, .timeImg{
    max-height: 3vh;
    margin: 0 auto;
}

.flag-number-panel,
.time-number-panel{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.time-number-panel{
    margin-right: 40%
}

@media screen and (width <= 65rem){
    #results-container{
        display: flex
    }

    .results{
        flex-grow: 1;
        width: 0;
    }

    .cell{
        border: solid 2px;
        border-left-color:#f4c035;
        border-top-color: #f4c035;
        border-right-color: #876218;
        border-bottom-color: #876218;
    }
}

@media screen and (width > 65rem) {
    .game-window{
        transform: scale(1.3)
    }
    #results-container{
        position: absolute;
        translate: 0 -50%;
        top: 50%;
        left: 120%;
        width: 10vw;
        border: 4px solid;
        border-bottom-color: #876218;
        border-right-color: #876218;
        border-top-color: #f4c035;
        border-left-color: #f4c035;
        background: #b98621;
        box-shadow: rgba(255, 255, 255, 0.533) 0 0 4px;
    }

    .cell{
        border: solid 3px;
        border-left-color:#f4c035;
        border-top-color: #f4c035;
        border-right-color: #876218;
        border-bottom-color: #876218;
    }
}

.board{
    display: grid;
    margin: 4px;
    border: 4px solid;
    border-bottom-color: #f4c035;
    border-left-color: #876218;
    border-top-color: #876218;
    border-right-color: #f4c035;
}

.board-header-container{
    display: flex;
    margin: 5px;
}

.game-window{
    background: #b98621;
    padding: 5px;
}

.board-header{
    flex-grow: 1;
    width: 0;
    border: 4px solid;
    border-bottom-color: #f4c035;
    border-right-color: #f4c035;
    border-top-color: #876218;
    border-left-color: #876218;
}

.row{
    display: flex;
}

.cell{
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    text-shadow: #533c0e 1px 1px 1px
}

#results-container{
    /* border: 5px solid; */
    /* border-bottom-color: #876218;
    border-right-color: #876218;
    border-top-color: #f4c035;
    border-left-color: #f4c035; */
    background: #b98621;
    display: none
}

.results{
    padding: 3% 5%;
    margin: 5px;
    border: 4px solid;
    border-bottom-color: #f4c035;
    border-left-color: #876218;
    border-top-color: #876218;
    border-right-color: #f4c035;
    width: 100%;
}

.results-divider{
    height: 1.5px;
    background: #f4c035;
    width: 100%;
    margin: 5px auto;
    border-radius: 8px;
}

.results > p{
    color: white;
    text-shadow: #533c0e 1px 1px 1px;
}